# Fifa19 Exercise - Solutions

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [Fifa19 Dataset](https://www.kaggle.com/winterbreeze/fifa19eda) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [1]:
import pandas as pd

**Read fifa_eda.csv as a dataframe called fifa.**

In [2]:
df = pd.read_csv('fifa_eda.csv',encoding='latin1')
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565,Left,5.0,4.0,RF,2004,1/1/2021,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405,Right,5.0,5.0,ST,2018,1/1/2022,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290,Right,5.0,5.0,LW,2017,1/1/2022,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260,Right,4.0,1.0,GK,2011,1/1/2020,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355,Right,4.0,4.0,RCM,2015,1/1/2023,5.916667,154.0,196400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,60.0,1,Right,1.0,2.0,CM,2017,1/1/2019,5.750000,134.0,143.0
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,60.0,1,Right,1.0,2.0,ST,2018,1/1/2020,6.250000,170.0,113.0
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1,Right,1.0,2.0,ST,2017,1/1/2021,5.666667,148.0,165.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1,Right,1.0,2.0,RW,2018,1/1/2019,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1,Right,1.0,2.0,CM,2018,1/1/2019,5.833333,176.0,165.0

**Check the head of the DataFrame.**

In [3]:
df.columns

Index(['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club',
       'Value', 'Wage', 'Preferred Foot', 'International Reputation',
       'Skill Moves', 'Position', 'Joined', 'Contract Valid Until', 'Height',
       'Weight', 'Release Clause'],
      dtype='object')

In [4]:
new_names = [col.lower().strip().replace(" ","_") for col in df.columns]
df.columns = new_names
df

,id,name,age,nationality,overall,potential,club,value,wage,preferred_foot,international_reputation,skill_moves,position,joined,contract_valid_until,height,weight,release_clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565,Left,5.0,4.0,RF,2004,1/1/2021,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405,Right,5.0,5.0,ST,2018,1/1/2022,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290,Right,5.0,5.0,LW,2017,1/1/2022,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260,Right,4.0,1.0,GK,2011,1/1/2020,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355,Right,4.0,4.0,RCM,2015,1/1/2023,5.916667,154.0,196400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,60.0,1,Right,1.0,2.0,CM,2017,1/1/2019,5.750000,134.0,143.0
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,60.0,1,Right,1.0,2.0,ST,2018,1/1/2020,6.250000,170.0,113.0
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1,Right,1.0,2.0,ST,2017,1/1/2021,5.666667,148.0,165.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1,Right,1.0,2.0,RW,2018,1/1/2019,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1,Right,1.0,2.0,CM,2018,1/1/2019,5.833333,176.0,165.0

In [ ]:
# Data understanding in each col
# a)Overall -->  refers to a player's overall rating,often ranging from 0 to 100,represents how good a player is.
# b)Potential --> refers to a player's maximum possible overall rating they could achieve in the future.(Mostly relevant for younger players who are still growing in career).
# c)Value --> refers to a player's market value ,how much a club would need to pay to buy that player in the game .
# d)Wage --> refers to how much money a player earns weekly from their club
# e)International Reputation --> reflects how well-known or respected a player is on the global stage It's a rating from 1 to 5.
# f)Skill Moves --> ability to perform complex dribbling tricks or special moves It's a rating from 1 to 5.
# g)Position -->  main role or area on the pitch where the player usually plays.(GK – Goalkeeper,
# CB – Center Back,
# RCB – Right Center Back,
# LCB – Left Center Back,
# RB – Right Back,
# LB – Left Back,
# RWB – Right Wing Back, 
# LWB – Left Wing Back,
# CDM – Central Defensive Midfielder,
# RDM – Right Defensive Midfielder,
# LDM – Left Defensive Midfielder,
# CM – Central Midfielder,
# RCM – Right Central Midfielder,
# LCM – Left Central Midfielder,
# CAM – Central Attacking Midfielder,
# RAM – Right Attacking Midfielder,
# LAM – Left Attacking Midfielder,
# RM – Right Midfielder,
# LM – Left Midfielder,
# ST – Striker,
# CF – Center Forward,
# RS – Right Striker,
# LS – Left Striker,
# LF – Left Forward,
# RF – Right Forward,
# LW – Left Winger,
# RW – Right Winger)
# release_clause --> It is the amount of money (in Euros) that another club must pay to "buy out" the player's contract from their current team, without needing negotiation.

In [14]:
# check columns names to understand the data in each one.
df.columns

Index(['id', 'name', 'age', 'nationality', 'overall', 'potential', 'club',
       'value', 'wage', 'preferred_foot', 'international_reputation',
       'skill_moves', 'position', 'joined', 'contract_valid_until', 'height',
       'weight', 'release_clause'],
      dtype='object')

In [5]:
# get more info about position col.
df['position'].unique()

array(['RF', 'ST', 'LW', 'GK', 'RCM', 'LF', 'RS', 'RCB', 'LCM', 'CB',
       'LDM', 'CAM', 'CDM', 'LS', 'LCB', 'RM', 'LAM', 'LM', 'LB', 'RDM',
       'RW', 'CM', 'RB', 'RAM', 'CF', 'RWB', 'LWB'], dtype=object)

In [6]:
# change height unit from feet to cm
df['height'] = df['height'] * 30.48

In [7]:
# change weight unit from pounds (lbs) to kg
df['weight'] = df['weight'] * 0.453592

**Use the .info() method to find out how many entries there are.**

In [ ]:
# check info about the data types in each col in dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        18207 non-null  int64
 1   name                      18207 non-null  object
 2   age                       18207 non-null  int64
 3   nationality               18207 non-null  object
 4   overall                   18207 non-null  int64
 5   potential                 18207 non-null  int64
 6   club                      17966 non-null  object
 7   value                     17955 non-null  float64
 8   wage                      18207 non-null  int64
 9   preferred_foot            18207 non-null  object
 10  international_reputation  18159 non-null  float64
 11  skill_moves               18159 non-null  float64
 12  position                  18207 non-null  object
 13  joined                    18207 non-null  int64
 14  contract_valid_until      17918 non-null  object
 15  height                    18207 non-null  float64
 16  weight                    18207 non-null  float64
 17  release_clause            18207 non-null  float64
dtypes: float64(6), int64(6), object(6)
memory usage: 2.5+ MB

**Use the .describe() method to get some statistics for the numeric columns of the data**

In [6]:
df.describe()

,id,age,overall,potential,value,wage,international_reputation,skill_moves,joined,height,weight,release_clause
count,18207.000000,18207.000000,18207.000000,18207.000000,17955.000000,18207.000000,18159.000000,18159.000000,18207.000000,18207.000000,18207.000000,18207.000000
mean,214298.338606,25.122206,66.238699,71.307299,2444.530214,9.731312,1.113222,2.361308,2016.420607,5.946771,165.979129,4585.060971
std,29965.244204,4.669943,6.908930,6.136496,5626.715434,21.999290,0.394031,0.756164,2.018194,0.220514,15.572775,10630.414430
min,16.000000,16.000000,46.000000,48.000000,10.000000,0.000000,1.000000,1.000000,1991.000000,5.083333,110.000000,13.000000
25%,200315.500000,21.000000,62.000000,67.000000,325.000000,1.000000,1.000000,2.000000,2016.000000,5.750000,154.000000,570.000000
50%,221759.000000,25.000000,66.000000,71.000000,700.000000,3.000000,1.000000,2.000000,2017.000000,5.916667,165.000000,1300.000000
75%,236529.500000,28.000000,71.000000,75.000000,2100.000000,9.000000,1.000000,3.000000,2018.000000,6.083333,176.000000,4585.060806
max,246620.000000,45.000000,94.000000,95.000000,118500.000000,565.000000,5.000000,5.000000,2018.000000,6.750000,243.000000,228100.000000

**Use the .describe() method to get some statistics for the numeric categorical of the data**

In [7]:
df.describe(include='O')

,name,nationality,club,preferred_foot,position,contract_valid_until
count,18207,18207,17966,18207,18207,17918
unique,17193,164,651,2,27,35
top,J. Rodríguez,England,RC Celta,Right,ST,1/1/2019
freq,11,1662,33,13996,2154,4870

**What is the average Age ?**

In [8]:
df['age'].mean()

np.float64(25.122205745043114)

**What is the greatest Height? and name of the player with that height?**

In [8]:
# greatest height
df['height'].max()

np.float64(205.74)

In [9]:
# name of the player
df[df['height'] ==df['height'].max() ][['name','height']]

            name  height
11614    T. Holý  205.74
17927  D. Hodzic  205.74

**What is the smallest weight? and name of the player with that weight? and for which club plays?**

In [10]:
df['weight'].min()

np.float64(49.89512)

In [11]:
# name of the player
df[df['weight']==df['weight'].min()][['name' , 'weight']]

                name    weight
13338  B. Al Mutairi  49.89512
17157   K. Yamaguchi  49.89512

**What is the position of Cristiano Ronaldo?**

In [13]:
df[df['name']=='Cristiano Ronaldo'][['name' , 'position']]

                name position
1  Cristiano Ronaldo       ST

**What was the average (mean) Value of all players per year(Joined column) ?**

In [14]:
df.groupby('joined')['value'].mean().reset_index(name='average_value')

    joined  average_value
0     1991     160.000000
1     1998     106.666667
2     1999      40.000000
3     2000     110.000000
4     2001     237.500000
5     2002    2351.250000
6     2003    1148.076923
7     2004   10415.833333
8     2005    5544.705882
9     2006    1208.055556
10    2007    4730.789474
11    2008    5377.924528
12    2009    3468.269231
13    2010    5240.839695
14    2011    4868.241206
15    2012    3840.988201
16    2013    4181.320961
17    2014    3549.077017
18    2015    3335.755988
19    2016    2511.245432
20    2017    2125.398374
21    2018    1913.759519

**get Number of players for each club**

In [15]:
df.groupby('club')['name'].count().reset_index(name='players_number')

                      club  players_number
0      SSV Jahn Regensburg              29
1    1. FC Heidenheim 1846              28
2     1. FC Kaiserslautern              26
3               1. FC Köln              28
4          1. FC Magdeburg              26
..                     ...             ...
646         Zaglebie Lubin              27
647     Zaglebie Sosnowiec              25
648        Çaykur Rizespor              30
649              Örebro SK              27
650          Östersunds FK              22

[651 rows x 2 columns]

**How many unique Clubs are there?**

In [16]:
df['club'].nunique()

651

**What are the top 5 most common positions?**

In [17]:
df.groupby('position')['name'].count().reset_index(name='position_frequency').sort_values(by='position_frequency',ascending=False).head(5)

   position  position_frequency
26       ST                2154
5        GK                2027
1        CB                1779
4        CM                1395
7        LB                1372

**What are the top 5 most common nationality?**

In [18]:
df.groupby('nationality')['name'].count().reset_index(name='nationality_frequency').sort_values(by='nationality_frequency',ascending=False).head(5)

    nationality  nationality_frequency
46      England                   1662
59      Germany                   1198
139       Spain                   1072
6     Argentina                    937
55       France                    914

**What are the names of players has Egyptian Nationality?**

In [13]:
df[df['nationality']=='Egypt'][['name']]

                 name
26           M. Salah
752         Trezeguet
959         M. Elneny
1517        A. Hegazi
2241        A. Hassan
2259          Kahraba
2334         R. Sobhi
3310    A. Elmohamady
3616         A. Warda
3929        A. Ghazal
4044         A. Tarek
4217        Shikabala
4504       A. El Said
5614         A. Fathi
5913         M. Hamdy
5944         S. Morsy
6021        A. Ashraf
6407        S. Ekramy
6717          A. Gabr
6804         O. Gaber
7102   M. Abdul Shafy
8325        A. El-Abd
8441         T. Hamed
9165    M. El-Shenawy
9228      H. El Sayed
9297          M. Awad
9514      A. Jakobsen
9665         K. Hafez
9911        M. Mohsen
10672         M. Atwa
13891      A. Mostafa

**How many players joined in 2018 with skill moves=2?**

In [20]:
df[(df['joined']==2018) & (df['skill_moves']==2)]['name'].count()

np.int64(3295)

**How many players whom name starts with letter  'M'? (This is pretty tricky)**

In [21]:
df[df['name'].str.startswith('M')]['id'].count()

np.int64(1975)

**Bonus: Is there a correlation between International Reputation and Wage?**

In [22]:
df['international_reputation'].corr(df['wage'])

np.float64(0.6686346353006071)

# Great Job!

### Additional questions

In [10]:
# how much each player earn weekly in each club 
df.groupby(['name','club'])['wage'].sum().reset_index().sort_values(by='wage',ascending=False)

                    name            club  wage
10124           L. Messi    FC Barcelona   565
10344          L. Suárez    FC Barcelona   455
10132          L. Modric     Real Madrid   420
3287   Cristiano Ronaldo        Juventus   405
16142       Sergio Ramos     Real Madrid   380
...                  ...             ...   ...
25             A. Affane    IFK Göteborg     1
26             A. Agouda  Stabæk Fotball     1
17922      Álvaro García     Albacete BP     1
17924       Álvaro Gómez     Albacete BP     1
17930              Ángel     Albacete BP     1

[17949 rows x 3 columns]

In [11]:
# who are the top rated player in each club
top_players = df.sort_values('overall', ascending=False).drop_duplicates('club')
top_players[['club', 'name', 'overall']].sort_values('club')

                        club            name  overall
4587     SSV Jahn Regensburg     M. Grüttner       71
2053   1. FC Heidenheim 1846  M. Schnatterer       75
5084    1. FC Kaiserslautern      L. Spalvis       70
189               1. FC Köln         T. Horn       83
4309         1. FC Magdeburg     R. Brégerie       71
...                      ...             ...      ...
10324     Zaglebie Sosnowiec   K. Wrzesinski       65
1531         Çaykur Rizespor         A. Umar       76
4344               Örebro SK       N. Besara       71
6023           Östersunds FK        H. Aiesh       69
452                      NaN      L. Paredes       80

[652 rows x 3 columns]

In [12]:
# is there a relationship between age and potential?
df['age'].corr(df['potential'])  # --> week inverse relation between age and potential

np.float64(-0.2533121074109556)

In [13]:
# what's the relationship between the overall and wage 
df['overall'].corr(df['wage']) #--> moderate direct relation ship between overall and wage

np.float64(0.5719260112876147)

In [17]:
# which country is the most contribute in fifa_19
df.groupby("nationality")['nationality'].count().sort_values(ascending=False).head(1)

nationality
England    1662
Name: nationality, dtype: int64

In [14]:
# for whome the biggest Release Clause paied for 
df[['name', 'release_clause']].sort_values(by='release_clause', ascending=False).head(1)

        name  release_clause
2  Neymar Jr        228100.0

In [15]:
# which club pay the most to all players in it 
df.groupby("club")['wage'].sum().sort_values(ascending=False).head(1)

club
Real Madrid    5017
Name: wage, dtype: int64

In [16]:
# how many players are joined every year
df.groupby("joined").agg(player_count=('name', 'count')).reset_index()

    joined  player_count
0     1991             1
1     1998             3
2     1999             1
3     2000             2
4     2001             2
5     2002            10
6     2003            13
7     2004            12
8     2005            17
9     2006            18
10    2007            38
11    2008            53
12    2009            78
13    2010           131
14    2011           201
15    2012           340
16    2013           458
17    2014           818
18    2015          1336
19    2016          3799
20    2017          4307
21    2018          6569